<div id="{{ctrl.divID}}" class="app-taqnia-panel ts-bootstrap-iso">
    <div class="card">
        <div class="card-header">
            <div class="float-left">
                    Alarm time line
                    <span class="badge badge-primary badge-pill">4</span>
            </div>
            <div class="float-right">
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <button>today: 4</button>
                    </div>
                    <div class="float-right">
                        <button>Upstream: 2</button>
                        <button>Middlestream: 2</button>
                        <button>Downstream: 0</button>
                    </div>
                </div>
                <div class="card-body timeline-cards">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="float-left">
                                <div class="card-title">title</div>
                                <div class="card-subtitle">subtitle</div>
                            </div>
                            <div class="float-right">
                                button
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-left">icon</div>
                            <div class="float-right">checkbutton</div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="float-left">
                                <div class="card-title">title</div>
                                <div class="card-subtitle">subtitle</div>
                            </div>
                            <div class="float-right">
                                button
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-left">icon</div>
                            <div class="float-right">checkbutton</div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="float-left">
                                <div class="card-title">title</div>
                                <div class="card-subtitle">subtitle</div>
                            </div>
                            <div class="float-right">
                                button
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-left">icon</div>
                            <div class="float-right">checkbutton</div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="float-left">
                                <div class="card-title">title</div>
                                <div class="card-subtitle">subtitle</div>
                            </div>
                            <div class="float-right">
                                button
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-left">icon</div>
                            <div class="float-right">checkbutton</div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="float-left">
                                <div class="card-title">title</div>
                                <div class="card-subtitle">subtitle</div>
                            </div>
                            <div class="float-right">
                                button
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="float-left">icon</div>
                            <div class="float-right">checkbutton</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        timeline
    </div>
</div>
